.about-line {
    content:"";
    display:block;
    width: 120em;
    max-width:70%;
    border-bottom: 0.1em solid #000000;
    opacity: 0.2;
    margin: -1.5em auto 0;
    position: absolute;
}

.about-image {
    max-width: 70%;
}

.about-skill-logo {
    width:100px;
}