.brand-icon {
    position: absolute;
    white-space: nowrap;
    padding-left:28px;
    font-weight:bolder;
    font-size:20px;
}

.navbar-menu {
    animation: navAnimOpen .2s ease-in-out;
}

.navbar-item{
    box-shadow: none;
    text-decoration: none;
    color: inherit;
    margin-top:10px;
    border:none;
}

@keyframes navAnimOpen {
  0% {display: none;opacity: 0;max-height: 0;}
  1% {display: block;opacity: 0;}
  100% {opacity: 1;max-height: 396px;}
}