.resume-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
}
.resume-wrapper iframe{
	position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     min-height: 100%;
}